@import "../variables.scss";
.imageContainer {
  .text {
    margin-left: $marginLeftHeader;
  	width: 588px;
  	min-height: 289px;
  	background-color: transparent;
  	line-height: 72px;
  	font-size: 60px;
  	color: #FFFFFF;
  	font-family: roboto, sans-serif;
  	font-weight: 400;
  	margin-top: 184px;
    text-transform: uppercase;
  }
  .textBottom {
    position: absolute;
    top: 598px;
    margin-left: $marginLeftHeader;
    color:#ffffff;
  	font-family:roboto, sans-serif;
  	font-size:16px;
    line-height: 19px;
  }
  .myButton {
    position:absolute;
    margin-left: $marginLeftHeader;
  	background-color:transparent;
  	border:2px solid #ffffff;
  	display:inline-block;
  	cursor:pointer;
  	color:#ffffff;
  	font-family:roboto, sans-serif;
  	font-size:16px;
  	padding:14px 48px;
  	text-decoration:none;
    top:496px;
  }
  .myButton:hover {
  	background-color:white;
    color: rgba(0, 0, 0, 0.7);;
  }
  .myButton:active {
  	top:1px;
  }

}
